@import '../../global.scss';

.projects {
	background-color: black;
	color: $mainColor;
	display: flex;
	align-items: center;
	justify-content: center;

	.card {
		width: 18rem;
		border: 5px solid $mainColor;
		border-radius: 10px;
		padding: 50px;
		margin: 30px;

		img {
			width: 300px;
		}

		.card-text {
			margin-bottom: 20px;
			text-align: justify;
		}

		.card-links {
			display: flex;
		}

		a {
			margin-right: 20px;
			padding: 10px;
			background-color: #FFFFFF;
			color: #171717;
			border-radius: 5px;
			text-decoration: none;
			text-align: inherit;
		}

	}
}