.intro {
	background-color: #FFFFFF;
	display: flex;

	.left {
		flex:0.5;

		.imageContainer {
			position: absolute;
			// padding: 30px;
			// margin: 10px;
			overflow: hidden;
			// align-items: center;
			// justify-content: center;
			top: 20%;
			left: 10%;
			height: 600px;
			border: 5px solid black;
			border-radius: 10px;
		}
	}
	.right {
		flex:0.5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			font-size: 70px;
		}

		h2 {
			font-size: 40px;
		}

		a {
			text-decoration: none;
			color: #171717;
			margin: 10px;

			&:hover {
				color: #c26464;
				background-color: black;
				border-radius: 10px;
			}
		}

		h3 {
			font-size: 30px;
			padding: 10px;
			border: 2px solid black;
			border-radius: 10px;
			
		}

		p {
			padding: 10px;
			width: 60%;
			text-align: justify;
		}
	}
}